<mat-card class="survey-header">
  <mat-card-header>Who's Taking this Survey?</mat-card-header>
  <label for="TeamName">
    <input matInput [(ngModel)]="team" id="TeamName" placeholder="Team Name">
  </label>
</mat-card>

<mat-card class="questions-outer">
  <mat-card-header class="questions-header" >
    <div mat-card-avatar class="survey-icon"></div>
    <mat-card-title>Survey #temp</mat-card-title>
    <mat-card-subtitle>Team: {{team}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedTab" #tabs>
      <mat-tab *ngFor="let group of survey.groups; index as i" label="{{group.groupName}}">
        <div class="tab-content">
          <mat-card class="question-card" *ngFor="let question of group.questions; index as j">
            <mat-card-header class="question-card-header">
              <div mat-card-avatar class="question-icon"></div>
              <mat-card-title>{{question.question}}</mat-card-title>
              <mat-card-subtitle>Question {{j + 1}}</mat-card-subtitle>
            </mat-card-header>
            <div class="btn-group">
              <button mat-raised-button
                      *ngFor="let answer of question.responses"
                      [class.selected] = "selectedAnswers[i][j] == answer"
                      (click) = 'selectAnswer(answer, i, j)'>
                {{answer}}
              </button>
            </div>
          </mat-card>
          <div class="tab-selector-buttons">
            <button mat-raised-button color="primary" (click)="selectTab(-1, tabs.selectedIndex)">Prev</button>
            <button mat-raised-button color="primary" (click)="selectTab(1, tabs.selectedIndex)">Next</button>
          </div>
          <div *ngIf="tabs.selectedIndex == AMOUNT_OF_GROUPS - 1" style="text-align: right">
            <button mat-raised-button color="accent">SUBMIT</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
