.mat-card{
  width: 75%;
  margin: 10px auto auto;
}

.survey-header{
  font-weight: bolder;
}

.mat-card-header{
  padding-bottom: 5px;
  padding-top: 5px;
}

.survey-icon{
  background-size: cover;
  background-image: url("../../assets/web/ic_assignment_black_24dp_2x.png")
}
